<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customstyles.css') }}">

</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">School DB</div>
        <div class="navbar-links">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('students') }}">Students</a>
            <a href="{{ url_for('teachers') }}">Teachers</a>
            <a href="{{ url_for('courses') }}">Courses</a>
            <a href="{{ url_for('enrollments') }}">Enrollments</a>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
